.imageInnerContainer{
    margin: 5px;
    padding: 2px;
    background-color: #eee;
    color: gray;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageContainer{
    padding: 5px;
    margin: 5px;
    border: 1px solid gray;
}

.imageContainer:hover{
    border: 2px solid blue;
}